.product {
  height: 200px;
  position: relative;
  background-color: var(--sec-color);
  padding: calc(20rem / 16);
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  @media (max-width: 575px) {
    & {
      height: calc(122rem / 16);
    }
  }
  p {
    margin: 0;
  }
  & > p {
    font-weight: 500;
  }
  .info {
    & > p:first-of-type {
      color: var(--text-color);
      font-size: var(--x-large);
      margin-top: calc(60rem / 16);
      margin-bottom: calc(25rem / 16);
    }
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    p {
      font-size: var(--x-small);
      color: var(--sec-text-color);
      font-weight: 400;
      max-width: calc(180rem / 16);
      line-height: calc(14.5rem / 16);
    }
    span {
      font-size: var(--x-small);
      text-align: center;
      font-weight: 500;
      line-height: calc(14.5rem / 16);
    }
    @media (max-width: 575px) {
      & {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: calc(20rem / 16);
        margin-top: calc(30rem / 16);
      }
      & > p:first-of-type {
        margin: 0;
      }
      p {
        flex: 1;
      }
      span {
        display: none;
      }
    }
  }
  .dotes {
    position: absolute;
    top: calc(25rem / 16);
    right: calc(20rem / 16);
    display: flex;
    gap: calc(2rem / 16);
    span {
      width: calc(5rem / 16);
      height: calc(5rem / 16);
      background-color: #d8d8d8;
      border-radius: var(--radius);
      -webkit-border-radius: var(--radius);
      -moz-border-radius: var(--radius);
      -ms-border-radius: var(--radius);
      -o-border-radius: var(--radius);
    }
  }
  & > div:first-of-type {
    position: absolute;
    z-index: -1;
    width: calc(100% - 2px);
    height: 100%;
    background-color: #55c2e6;
    left: 1px;
    top: calc(-45rem / 16);
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
  }
}
