@if(!loading){
<header>
  <a>
    <img src="/custom_icon.svg" alt="" />
    <span><span>Flash</span> Store</span>
  </a>
  <img src="/burger-menu.png" alt="" (click)="onToggle()" class="toggle" />
  <nav #nav>
    <ul>
      <li class="active">Best Seller</li>
      <li>Admins</li>
      <li>Users</li>
      <li>Products</li>
    </ul>
  </nav>
</header>
<main class="warpper">
  <div>
    <app-best-sales />
    <div class="container">
      @for(product of products$ | async ; track product;let i = $index){
      <app-product [product]="product" [color]="colors[i]" />
      }
    </div>
  </div>
</main>
}@else {
<app-loader />
}
